<!-- Producto-->
<div class="container my-5">
  <div class="row justify-content-center" style="font-family: sans-serif;">
    <div class="col-xxl-11 col rounded-2 bg-white shadow-producto">
      <div class="row ">
        <div class="col-8 border py-5" style="border-top-left-radius: 0.25rem !important; text-align: center;">
          <img src="{{producto?.imagen}}" class="card-img-top imagen-producto" alt="...">
        </div>
        <div class="col-4 border py-5 flex-column" style="border-top-right-radius: 0.25rem !important;">
          <h3>{{producto?.nombre}}</h3>
          <br>
          <h2>U$D{{producto?.precioDolar}} ≈ ${{producto?.precioPesos}}</h2>
          <br>
          <h5 class="text-justify text-secondary">Vendedor: {{producto?.vendedor.razonSocial}}</h5>
          <br>
          <div class="d-grid gap-2 mb-2 mt-auto">
            <button type="button" (click)="comprar()" class="btn gradient-button">Comprar</button>
          </div>
          <div class="d-grid gap-2 mb-2">
            <button type="button" class="btn gradient-button">Añadir al carrito</button>
          </div>
        </div>
        <div class="col-12 rounded-bottom border py-5">
          <h5 style="width: 90%;"class="text-justify mx-auto">{{producto?.descripcion}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
