<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container justify-content-center">
    <div id="nombre-logo">
      <!--Page Logo-->
      <a href="./index.html"><img src="assets/abejita-naranja.svg" height="50px" width="60px"></a>
      <a id="logo-text" class="navbar-brand" href="./index.html">Bumble<span class="text-warning">Bee</span></a>
    </div>
  </div>
</nav>
<!--Form iniciar sesion-->
<div class="d-flex justify-content-center">
  <div class="card mt-5 shadow" style="width: 380px;">
    <div class="card-body">
      <h2 class="card-title mb-2">Iniciar sesión</h2>
      <form [formGroup]="formulario!" (ngSubmit)="loggear()" >
        <label for="nombreDeUsuario" class="card-text d-block">Nombre de usuario</label>
        <input id="nombreDeUsuario" class="mb-3 w-100 rounded-1 border border-secondary" formControlName="nombreDeUsuario">

        <label for="contrasenia" class="card-text d-block">Contraseña</label>
        <input id="contrasenia" class="mb-4 w-100 rounded-1 border border-secondary" type="password" formControlName="contrasenia">

        <div class="d-grid gap-2 mb-2">
          <button type="submit" class="btn gradient-button border-secondary">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</div>

