@charset "UTF-8";


body {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}


footer {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;

  margin-top: auto !important;
}

#logo-text {
  font-family: 'Racing Sans One', cursive;
  font-size: 1.75rem;
  margin-right: 0rem;
  color: #fff
}

#nombre-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-justify {
  text-align: justify !important;
}

.a {
  color: #212529;
  text-decoration: none;
}

.bg-banner {
  background-image: url("https://img.freepik.com/vector-gratis/banner-venta-viernes-negro-detalles-oferta-tiempo-limitado_1017-28051.jpg?w=2000");
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-position: center left;
  background-size: cover;
}

.producto-caja{
  border-radius: 0.25rem;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
  box-shadow: 0rem 0.075rem 0.25rem rgb(0 0 0 / 30%);
}

.producto-carrito{
  height: 160px;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

@media (min-width: 767.98px){
  .producto-carrito{
    height: 90px;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
  }
}

.flex-basis {
  flex-basis: 100%;
}

.shadow-producto {
  box-shadow: 0rem 0.075rem 0.25rem rgb(0 0 0 / 30%) !important;
}

.gradient-button {
  background-image: linear-gradient(#f1b607, #ffc107, #f1b607);
}

.text-border-white {
  text-shadow: 2px 0 0 #fff,
              -2px 0 0 #fff,
              0 2px 0 #fff,
              0 -2px 0 #fff,
              1px 1px #fff,
              -1px -1px 0 #fff,
              1px -1px 0 #fff,
              -1px 1px 0 #fff;
}

@media (max-width: 575.98px){
  .d-sm-none-max {
    display: none !important;
  }
}

.search-bar {
  width: 49%;
}

@media (max-width: 1199.98px) {
  .search-bar {
    width: 39%;
  }
}

@media (max-width: 991.98px) {
  .search-bar {
    width: 55%;
  }
}

@media (max-width: 767.98px) {
  .search-bar {
    width: 45%;
  }
}

@media (max-width: 575.98px) {
  .search-bar {
    width: 63%;
  }
}

/*
@media (min-width: 576px) sm  @media (max-width: 575.98px)
@media (min-width: 768px) md  @media (max-width: 767.98px)
@media (min-width: 992px) lg  @media (max-width: 991.98px)
@media (min-width: 1200px) xl @media (max-width: 1199.98px)
@media (min-width: 1400px) xxl  @media (max-width: 1399.98px)
*/
